.App {
  text-align: center;
  background-color: #707785;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.floatLeft {
  float: left;
}

.blockTxFetchProgressBar {
  margin: 2vh 1vw;
}
.listedTransaction {
  margin: 1vh 4vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}
