.App {
  text-align: center;
  background-color: #7d818a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  float: left;
  padding: 1vh;
}

.blockTxFetchProgressBar {
  margin: 2vh 1vw;
}
.listedTransaction {
  margin: 1vh 4vh;
}

.App,h1 {
  font-size: 150%;
}

.App, p{
  padding: 1vh;
}
